<div class="container">
    <div class="row home align-items-center justify-content-center">
        <div class="col-12 text-center">
            <div class="display-4">What's your mood for today?</div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card justify-content-center border" routerLink="stories">
                <div class="display-6 text-center">
                    Top Stories
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card justify-content-center border" routerLink="articles">
                <div class="display-6 text-center">
                    Articles
                </div>
            </div>
        </div>
    </div>
</div>