<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-6">
            <div class="row">

                <div class="col-12 d-flex logo-container justify-content-center align-items-center">
                    <img class="logo" src="assets/images/icon.png" alt="logo">
                </div>

                <div class="col-12">
                    <div class="text-center display-6 py-2">
                        Sign Up
                    </div>
                    <form [formGroup]="signUpForm" novalidate>
                        <mat-form-field class="w-100 py-1">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput type="text">
                        </mat-form-field>

                        <mat-form-field class="w-100 py-1">
                            <mat-label>Password</mat-label>
                            <input formControlName="password" matInput type="password" autocomplete>
                        </mat-form-field>

                        <mat-form-field class="w-100 py-1">
                            <mat-label>Confirm Password</mat-label>
                            <input formControlName="confirmPassword" matInput type="password" autocomplete>
                        </mat-form-field>

                        <button class="w-100" mat-flat-button color="primary" [disabled]="!signUpForm.valid"
                            (click)="signUp()">
                            Sign up
                        </button>

                        <div class="d-flex justify-content-center align-items-center w-100 my-2">
                            <span class="mx-1">Already have an account?</span>
                            <button mat-button color="primary" routerLink="/signin">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>