@import "bootstrap/scss/bootstrap.scss";
@import "./assets/styles/custom-theme.scss";

.logo-container {
    height: 40vh;

    .logo {
        width: 8rem;
    }
}

@media screen and (max-width: 700px) {
    .fullscreen-dialog {
        max-width: 95vw !important;
        width: 95vw;
    }
}